language: java
jdk: oraclejdk8
addons:
  apt:
    sources:
    - sourceline: ppa:mc3man/trusty-media
    packages:
    - libavcodec-dev
    - libavformat-dev
    - libswscale-dev
    - libv4l-dev
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
script:
- "./gradlew clean build"
after_success:
- "./gradlew bintrayUpload --info"
notifications:
  webhooks:
    urls:
    - https://webhooks.gitter.im/e/09f40f14885470ecffd1
    on_start: never
    on_failure: always
    on_success: change
env:
  global:
  - secure: GqiA2/VajgBBNm8dZKp6m0IewUVQAAXFXIX/SscXuP6AXCm8+1w8gZUdEI/UYy1O1PwK6MQe7TDOJprVT5lFPfeDc+LwSgsICQ3WBaHKhMpEk5x4n9vLCHYgVn4kXLx2c1BU/KWtnQVaWZQst+KqUWEtDzj5BpVlpZ7g/Q8UTfsWUbZZ2t5+dc2LlUN99KK36tNYfh4BiDpVyjzAx49JzYFT9UZKRxu4rvhFg2OqgnOugNphtMrPfS6A1/qi5oH+nc4hKWbOV4ZTvLmIS5LWyNv3fqEjFr3hpnJqvJs7fMzzEOhEKI+omj8CzFh2fa807fxn77fosXr2vGTrCGcv7DHpEpSDjjcYJdkG0T4CC6EQ+pfjBLK49jyta2fvAHnW94DZa4kLz446ptsoFERz3udQslXAENq8kDTpB3KvTlaU3ga2FGv9yOsu09aPkdELh7zObVwfL/c/AIypHaTNTZ9tbx0JpSA/hI+m4q4CYqo464XXMDLKN5KlSTC5Gzm/asvebkSWxIrKvKm0RtooIibJZInLCrDER6dMK+3HTlnsgiCfrKKB3fjbjbqDHf1ufmeFsHPEyiiTXCa/HUNc0oeOCHlnDvuG4RAysUoyy2dYPjnK4dVya9mMQRTnM5TdMgFD8+uPsH1/dnROPOLp5i5+vgTInBKOF4EJGP1h1Q4=
  - secure: PycV29aODiA9c8DXgkmErSk0SfBRQzCyI9X9BWV0j8T/zTmGSf0n14Cyfm2SebtPFCcysfjpiImy8cK9pNCT0OwKxjv0pUM3SEjyJJPDq+EyMZNtMcsyytmuFX7RbaxatTVzbfG7Y4I/eMsmQu3pTT5sg5HYXM4y5/vYyHCsEMX5O1wsZH5G+NxZ7hnfMGjab4Me9jQFZb+9bjkOCqTcrbFGH17nT0lxtdlsN0eEIa8VQ4qaPNFGtZ6uZ0O3lZpWLTQicPO3qgroqw5Q1O2aTt09kSBLWDqm/S4+UZ2iJYbf+cIJdwGpvRn6CrRYhhBVez7TupUht0yNEWxPbodedDQz8OIU00LZ6ZNru1wsG9FGfpRWzWqgtg2m43V7o5dOczp70onTFXJPDWKDANIek1mvPx/buGOh9vszX2uf4EicNUeYNGwc+smv8qaIh++mm77e7Eu7OjnniLpbPB6kG6mQF9TSTDEOVABfmgQpHUSLdREhTpqjzXXcLtkXO7JY73ZsoJz9P7dOK5QSRebOHX2diE6Ti6grlbM9yAL7ZvnC8l90fUqmbSyC/vxd7QCnhmrlaj2SStqlOcwFigwMurJfpZ+KMhkYOofSjbk7WP+/+VuJcLuyMIDsKM7Qg1syR5TVQWgT9BrxFv7BQOuBMw/6ffIEVo13JIUqVw7GmvU=
